# misc java
*.jar
*~

#sbt
/project/target/
/project/project/target

/target/
/src/jline/target/

# target directories for ant build
/build/
/dists/

# eclipse
.project
.metadata
.cache
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# other
/out/
/bin/
/sandbox/

# bak files produced by ./cleanup-commit
*.bak